* {
	box-sizing: border-box;
	margin: 0;
}

html {
	width: 100vw;
	height: 100vh;

}

body, #root {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

body {
	background-color: dodgerblue;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	scroll-behavior: smooth;

}
::-webkit-scrollbar {
	background: transparent;
	width: 0;
}

.App {
	width: 100%;
	height: 90%;
	max-width: 300px;
	padding: 1em;
	margin: auto;
	background-color: whitesmoke;
	border-radius: 20px;
	overflow: scroll;
}

.Register, .Login {
	/* border: 1px solid gray; */
	height: 100%;
	display: flex;
	flex-direction: column;
}
.title {
	padding: 2em 0;
	text-align: center;
}
.form {
	display: grid;
	gap: 5px;
}
.input {
	width: 100%;
	font-size: 1.25rem;
	letter-spacing: 2px;
	padding: 10px 5px ;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: white;
}

.submit__btn {
	background-color: dodgerblue;
	color: white;
	margin-top: 2em;
	cursor: pointer;
}

.para__error {
	margin: auto;
	text-align: center;
	font-size: 2rem;
	font-size: 1.5rem;
	font-weight: 900;
	color: crimson;
}

.para__footer {
	text-align: center;
	margin-top: auto;
}
.para__footer > .link {
	margin-left: 5px;
	cursor: pointer;
}
.error {
	border: 2px solid crimson;
}
